/*body{
  margin: 0
}

p{
  color: blue
}

#designation{
color: red
}

.from-div{
background-color: #EB984E ;
color : blue;
margin: 150px;
padding: 50px
}

.to-div{
background-color: #F4D03F;
margin: 5px;
padding-left: 10px

}
*/
#closing-name{
  font-family: 'Redressed', cursive;
}
